<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ImageMapper">

	<resultMap type="Image" id="ImageMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="type_id" property="type_id"/>	
		<result column="pic_url" property="pic_url"/>	
		<result column="project_name" property="project_name"/>
		<result column="project_url" property="project_url"/>
		<result column="summary" property="summary"/>	
		<result column="read_num" property="read_num"/>	
		<result column="favorite_num" property="favorite_num"/>	
		<result column="complete_time" property="complete_time"/>
		<result column="create_time" property="create_time"/>
		<result column="update_time" property="update_time"/>
		<association property="type_name" column="type_id"  select="getTypeName">
		</association>			
	</resultMap>
	
	
	<!-- 表名 -->
	<sql id="tableName">
		jyty_image
	</sql>
	<sql id="typeTableName">
		jyty_image_type
	</sql>
	<!-- 字段 -->
	<sql id="field">
		id,
		name,
		type_id,
		pic_url,
		project_name,
		project_url,
		summary,
		read_num,
		favorite_num,
		complete_time,
		create_time,
		update_time
	</sql>
	<!-- 字段值 -->
	<sql id="fieldValue">
		#{id},
		#{name},
		#{type_id},
		#{pic_url},
		#{project_name},
		#{project_url},
		#{summary},
		0,
		0,
		#{complete_time},
		#{create_time},
		#{update_time}
	</sql>
	
	<!-- 得到一条图片详情 -->
	<select id="getImageItem" parameterType="int"  resultMap="ImageMap">
		select
		 <include refid="field"></include>
		 from  
		<include refid="tableName"></include>
		where 1=1
		and id = #{_parameter}
	</select>
	
	<!-- 新增图片 -->
	<insert id="addImage" parameterType="ReqData">
		insert into <include refid="tableName"></include>
		(
		<include refid="field"></include>
		) values (
		<include refid="fieldValue"></include>
		)
	</insert>
	
	<!-- 得到分类名称 -->
	<select id="getTypeName" parameterType="String" resultType="String">
		select type_name  from
		<include refid="typeTableName"></include>
		where 1=1
		<if test="_parameter!=null">
		and type_id = #{_parameter}
		</if>
	</select>
	
	<!-- 获取所有分类 -->
	<select id="getTypes" resultType="Type">
		select * from <include refid="typeTableName"></include>
	</select>
	
	<!-- 获取图片列表 -->
	<select id="getImageList" parameterType="ReqData" resultMap="ImageMap">
		select <include refid="field"></include> from
		<include refid="tableName"></include>
		where 1=1 
		<if test="type_id!=null">
		and type_id = #{type_id}
		</if>
		order by create_time desc		
	</select>
	
	<!-- 增加阅读数 -->
	<update id="addReadNum" parameterType="int">
		update <include refid="tableName"></include>
		set read_num = read_num+1
	</update>
	
	<!-- 修改图片 -->
	<update id="updateImage" parameterType="ReqData">
		update <include refid="tableName"></include>
		<set>
			name = #{name},
			type_id = #{type_id},
			pic_url = #{pic_url},
			project_name = #{project_name},
			project_url = #{project_url},
			summary = #{summary},
			complete_time = #{complete_time},
			update_time = #{update_time}
		</set>
		where id = #{id}
	</update>
	
	<!-- 删除项目 -->
	<delete id="deleteImage" parameterType="ReqData">
		delete from <include refid="tableName"></include>
		where id=#{id}
	</delete>
	
	<!-- 新增分类 -->
	<insert id="addType" parameterType="ReqData">
		insert into <include refid="typeTableName"></include>
		(type_name, pid, create_time) values (#{type_name}, #{pid}, #{create_time})
	</insert>
	
	<!-- 修改分类 -->
	<update id="updateType" parameterType="ReqData">
		update <include refid="typeTableName"></include>
		<set>
			type_name = #{type_name},
			pid = #{pid}
			update_time = #{update_time}
		</set>
		where type_id = #{id}
	</update>
	
	<!-- 删除分类 -->
	<delete id="deleteType" parameterType="ReqData">
		delete from <include refid="typeTableName"></include>
		where type_id=#{id}
	</delete>
	
	
	
</mapper>