<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectMapper">

	<resultMap type="Project" id="projectMap">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="read_num" property="read_num"/>
		<result column="type_id" property="type_id"/>	
		<result column="url" property="url"/>	
		<result column="summary" property="summary"/>
		<result column="company" property="company"/>
		<result column="favorite_num" property="favorite_num"/>	
		<result column="position" property="position"/>	
		<result column="create_time" property="create_time"/>	
		<result column="update_time" property="update_time"/>
		<result column="project_start_time" property="project_start_time"/>
		<result column="project_end_time" property="project_end_time"/>
		<association property="type_name" column="type_id"  select="getTypeName">
		</association>			
	</resultMap>
	
	
	<!-- 表名 -->
	<sql id="tableName">
		jyty_project
	</sql>
	<sql id="typeTableName">
		jyty_project_type
	</sql>
	<!-- 字段 -->
	<sql id="field">
		id,
		title,
		read_num,
		type_id,
		url,
		summary,
		company,
		favorite_num,
		position,
		create_time,
		update_time,
		project_start_time,
		project_end_time
	</sql>
	<!-- 字段值 -->
	<sql id="fieldValue">
		#{id},
		#{title},
		0,
		#{type_id},
		#{url},
		#{summary},
		#{company},
		0,
		#{position},
		#{create_time},
		#{update_time},
		#{project_start_time},
		#{project_end_time}
	</sql>
	
	<!-- 得到一条项目详情 -->
	<select id="getProjectItem" parameterType="int"  resultMap="projectMap">
		select
		 <include refid="field"></include>
		 from  
		<include refid="tableName"></include>
		where 1=1
		and id = #{_parameter}
	</select>
	
	<!-- 得到分类名称 -->
	<select id="getTypeName" parameterType="String" resultType="String">
		select type_name  from
		<include refid="typeTableName"></include>
		where 1=1
		<if test="_parameter!=null">
		and type_id = #{_parameter}
		</if>
	</select>
	
	<!-- 获取项目列表 -->
	<select id="getProjectList" parameterType="ReqData" resultMap="projectMap">
		select <include refid="field"></include> from
		<include refid="tableName"></include>
		where 1=1 
		<if test="type_id!=null">
		and type_id = #{type_id}
		</if>
		order by create_time desc		
	</select>
	<!-- 获取所有分类 -->
	<select id="getTypes" resultType="Type">
		select * from <include refid="typeTableName"></include>
	</select>
	
	<!-- 新增项目 -->
	<insert id="addProject" parameterType="ReqData">
		insert into <include refid="tableName"></include>
		(
		<include refid="field"></include>
		) values (
		<include refid="fieldValue"></include>
		)
	</insert>
	
	<!-- 增加阅读数 -->
	<update id="addReadNum" parameterType="int">
		update <include refid="tableName"></include>
		set read_num = read_num+1
	</update>
	
	<!-- 修改项目 -->
	<update id="updateProject" parameterType="ReqData">
		update <include refid="tableName"></include>
		<set>
			title = #{title},
			type_id = #{type_id},
			url = #{url},
			position = #{position},
			summary = #{summary},
			company = #{company},
			project_start_time = #{project_start_time},
			project_end_time = #{project_end_time},
			update_time = #{update_time}
		</set>
		where id = #{id}
	</update>
	
	<!-- 删除项目 -->
	<delete id="deleteProject" parameterType="ReqData">
		delete from <include refid="tableName"></include>
		where id=#{id}
	</delete>
	
	<!-- 新增分类 -->
	<insert id="addType" parameterType="ReqData">
		insert into <include refid="typeTableName"></include>
		(type_name, pid, create_time) values (#{type_name}, #{pid}, #{create_time})
	</insert>
	
	<!-- 修改分类 -->
	<update id="updateType" parameterType="ReqData">
		update <include refid="typeTableName"></include>
		<set>
			type_name = #{type_name},
			pid = #{pid}
			update_time = #{update_time}
		</set>
		where type_id = #{id}
	</update>
	
	<!-- 删除分类 -->
	<delete id="deleteType" parameterType="ReqData">
		delete from <include refid="typeTableName"></include>
		where type_id=#{id}
	</delete>
	
	
	
</mapper>