<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

	<resultMap type="User" id="userMap">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>	
		<result column="email" property="email"/>
		<result column="qq" property="qq"/>	
		<result column="weixin" property="weixin"/>	
		<result column="blog" property="blog"/>	
		<result column="github" property="github"/>	
		<result column="summary" property="summary"/>	
		<result column="create_time" property="create_time"/>	
		<result column="update_time" property="update_time"/>
		<result column="address" property="address"/>
		<result column="info" property="info"/>
		<result column="dream" property="dream"/>
		<result column="progress" property="progress"/>
		
	</resultMap>
	
	
	<!--表名 -->
	<sql id="tableName">
		jyty_user
	</sql>
	
	
	<!-- 字段 -->
	<sql id="Field">
		id,
		username,
		password,
		name,
		qq,
		weixin,
		blog,
		github,
		summary,
		email,
		create_time,
		update_time,
		address,
		info,
		dream,
		progress
	</sql>
	
	<!-- 字段值 -->
	<sql id="fieldValue">
		#{id},
		#{username},
		#{name},
		#{qq},
		#{weixin},
		#{blog},
		#{github},
		#{summary},
		#{email},
		#{create_time},
		#{update_time},
		#{address},
		#{info},
		#{dream},
		#{progress}
	</sql>
	
	<!-- 验证用户名密码 -->
	<select id="getUserInfo1" parameterType="User"  resultMap="userMap">
		select <include refid="Field"></include> from
		<include refid="tableName"></include>
		where 1=1
		<if test="username!=null and password!=null">
		and username = #{username} and password = md5(#{password})
		</if>
	</select>
	
	<!-- 验证用户名密码 -->
	<select id="getUserInfo2" parameterType="User"  resultMap="userMap">
		select <include refid="Field"></include> from
		<include refid="tableName"></include>
		where id = #{id}
	</select>
	
	
	<!-- 检查用户是否存在 -->
	<select id="userIsExist" parameterType="String" resultType="int">
		select count(*) as count  from
		<include refid="tableName"></include>
		where username=#{_parameter}
	</select>
	
	<!-- 更新登录时间 -->
	<update id="updateLastLogin" parameterType="ReqData">
		update <include refid="tableName"></include>
		set
		last_login=#{last_login},
		last_ip=#{last_ip}
		where user_id = #{user_id}
	</update>
	<!-- 修改信息 -->
	<update id="updateUserInfo" parameterType="ReqData">
		update <include refid="tableName"></include>
		<set>
			qq=#{qq},
			email=#{email},
			weixin=#{weixin},
			blog=#{blog},
			github=#{github},
			address=#{address},
			info=#{info},
			progress=#{progress},
			dream=#{dream}
		</set>
		where id=#{id}
	</update>
	
	
</mapper>