<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- <settings> 
        <setting name="cacheEnabled" value="true" />全局映射器启用缓存   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings> -->

	<typeAliases>
		<typeAlias type="com.jyty.entity.Project" alias="Project"/>
		<typeAlias type="com.jyty.entity.User" alias="User"/>
		<typeAlias type="com.jyty.entity.BaseType" alias="Type"/> 
		
		
		<!-- <typeAlias type="com.tianxiadayu.entity.User" alias="User"/>
		<typeAlias type="com.tianxiadayu.entity.Article" alias="Article"/>
		<typeAlias type="com.tianxiadayu.entity.Tag" alias="Tag"/>
		<typeAlias type="com.tianxiadayu.entity.Type" alias="Type"/> -->
		
		
		<!-- 这里添加生成的实体类 -->
		
		
		<typeAlias type="com.jyty.util.ReqData" alias="ReqData"/>
		<typeAlias type="com.jyty.entity.PageData" alias="PageData"/> 
	</typeAliases>
	
	 <plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="false"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="false"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
	</plugins> 
	
</configuration>