<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd	
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<mvc:annotation-driven/>	
	<mvc:default-servlet-handler/>
	
	<context:component-scan base-package="com.jyty" />
	<context:component-scan base-package="com.json" />

	<!-- 对静态资源文件的访问  restful-->     
	<!-- 静态资源处理， css， js， imgs -->
   	<mvc:resources mapping="/static/**" location="/static/" />

	<!-- 访问拦截  -->  
  	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/**"/>
			<bean class="com.jyty.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	 
	<!--配置视图解析器-->
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       <!--设置解析器类-->
       <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
       <!--视图解析前缀-->
       <property name="prefix" value="/WEB-INF/jsp/"/>
       <!--视图解析后缀-->
       <property name="suffix" value=".jsp"/>
   </bean>
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/> 
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"> 
    <property name="messageConverters"> 
        <list>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">               
                <property name="supportedMediaTypes"> 
                    <list>
                        <value>text/html;charset=UTF-8</value> 
                        <value>application/json;charset=UTF-8</value> 
                    </list> 
                </property> 
            </bean> 
        </list> 
    </property> 
</bean>
	<!-- <bean id="exceptionResolver" class="com.fh.resolver.MyExceptionResolver"></bean> -->
	
	<!-- 上传拦截，如最大上传值及最小上传值 -->
	  <bean id="multipartResolver"   class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >   
		  <property name="maxUploadSize">    
	          <value>104857600</value>    
	       </property>   
	        <property name="maxInMemorySize">    
	            <value>4096</value>    
	        </property>   
	         <property name="defaultEncoding">    
	            <value>utf-8</value>    
	        </property> 
    </bean>  
	
</beans>
